*{
    width: 100%;
    height: 100%;  
    /* background-color: #f4f3ee;   */
    font-family: cursive;
}


::-webkit-scrollbar {
    display: none;
  }

.box{
    width: 96%;
    height: 96%;
    display: flex;
    background-color: #0D1B2A;
    border-radius: 3rem;
}

.contacts{    
    background-color: #1B263B;
    height: 100%;
    width: 30%;
    border-radius: 3rem;
    display: flex; 
    flex-direction: column;     
    align-items: center;     
}

.contacts div{    
    background-color: #1B263B;
    height: 30%;
}

.contacts li{     
    height: 5%;    
}

.contacts button{
    width: 40%;
    height: 10%;
    border-radius: 1rem;  
    border-radius: 1rem;  
    margin-left: 30%;
    background-color: #007bff;
    border: none;
    color: white;
}

.contacts input{
    width: 60%;
    min-height: 40%;
    height: 40%;
    border-radius: 1rem;      
    border: none;
}

.contacts p{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    margin-bottom: 2%;
    text-align: center;
}

.contacts section {
    width: 90%;
    height: 10%;
    font-weight: 600;
    color:antiquewhite;
    
    display: flex;
    justify-content: flex-start;
    align-items: left; 
    gap: 10px; 
}

#btn-profile-page {
    min-height: 3rem;
    width: 100%; 
    margin-left: 0%;    
}
#profile-page {
    display: inline-block; 
}

.contacts h2{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    margin-bottom: 2%;
    text-align: center;
}

.contacts label{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    margin-bottom: 2%;
}

.contacts form{
    width: 90%;
    height: 40%;
    background-color: #1B263B;
}

.contacts a{
    width: 90%;
    height: 3%;    
    padding-bottom: 2%;
    background-color: #1B263B;
    color: #f4f3ee;
}



/* ssssssssssssssssssss */
.sign-up{    
    background-color: #1B263B;
    height: 100%;
    width: 40%;
    border-radius: 3rem;
    display: flex; 
    flex-direction: column;     
    align-items: center;     
}

.sign-up div{    
    background-color: #1B263B;
     
    height: auto;
    margin-top: 2%;
    display: flex; 
    flex-direction: column;     
    align-items: center;  
}

.sign-up li{    
    background-color: #1B263B;
    height: 30%;
    width: 90%;
    margin-top: 2%;    
    text-align: center;
}

.sign-up ul{    
    background-color: #1B263B;
    height: auto;
    width: 90%;    
}

.sign-up button{
    width: 40%;
    height: 10%;
    border-radius: 1rem;  
    border-radius: 1rem;  
    margin-left: 30%;
    margin-top: 2%;
    border: none;
    background-color: #007bff;
    color: white;
}

.sign-up input{
    width: 60%;
    min-height: 1.7rem;
    margin-top: 1%;
    border-radius: 3rem;     
    text-align: center; 
    font-weight: 700;
    border: none;
    resize: none; /* Disable resizing */
    overflow-y: auto; /* Enable scroll if content exceeds height */
}


.helptext{
    color: greenyellow;
}

.sign-up p{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    margin-bottom: 2%;
    text-align: center;
}

.sign-up h2{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    margin-bottom: 2%;
    text-align: center;
}

.sign-up label{
    width: 50%;
    height: 5%;
    font-weight: 600;
    color: #f4f3ee;
    background-color: #1B263B;
    text-align: center;
}

.sign-up form{
    width: 75%;
    height: 85%;
    background-color: #1B263B;    
}

.sign-up a{
    width: 90%;
    height: 3%;    
    padding-bottom: 2%;
    background-color: #1B263B;
    color: #f4f3ee;
}

.errorlist{
    color: crimson;
    max-height: 3%;
    background-color: none;
}


.chat {
    background-color: #1B263B;
    border-radius: 3rem;
    height: 100%; 
    width: 79%;
    margin-left: 1%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
}

.chat__input-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #1B263B;
    border-radius: 3rem;
}

/* Messages container */
#id_messages_container {
    flex: 1; /* Takes up available space above the input field */
    overflow-y: auto; /* Allows scrolling when there are too many messages */    
    margin-bottom: 10px;
    background-color: #24437b; /* Message container background */
    border-radius: 1rem;
    color: antiquewhite;
    text-align: left;    
}

/* Individual messages */
#id_messages_container div {
    background-color:#1B263B;
    border-radius: 0.5rem;
    height: auto;
    width: 90%;
    color: antiquewhite;
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
    word-wrap: break-word;
    padding: 1%;
    strong{
        background-color: #1B263B;
        margin-left: 1%;
    }
}


.chat input {    
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    outline: none;
    width: 80%; 
    margin-right: 10px;
    margin-left: 10px;
    height: 40%;    
}

.chat button {
    background-color: #007bff;
    color: white;
    border: none;
    
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 18px;
    width: 15%; 
    height: 40%;
}

.chat button:hover {
    background-color: #0056b3;
}

.profile-container {    
    display: flex;     
    width: 100%;
    height:  100%;
}

.image-form{
    width: 30%;
}

.profile-container form{
    height: 90%;
    width:  95%;    
    background-color: #0D1B2A;
    color: antiquewhite;
    border-radius: 3rem;
    border: none;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.profile-container p{
    height: 40%;
    width:  90%;
    background-color: #0D1B2A;   
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.profile-container a{    
    background-color: #0D1B2A;    
    color:antiquewhite;
    word-wrap: break-word;
}

.profile-container label{
    height: 40%;
    width:  90%;
    background-color: #0D1B2A;    
}

.image-form button{
    height: 10%;
    width: 40%;
    background-color:#007bff;
    color: antiquewhite;
    border: none;
    border-radius: 3rem;
}

#profile_picture-clear_id{
    height: 30%;
    width:  30%;
}

#id_profile_picture{
    height: 20%;
    background-color:#007bff;
    color: antiquewhite;
    border: none;
    border-radius: 1rem;    
}

.image{
    background-color: #1B263B;
    height: 90%;
    border-radius: 3rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.circle {
    margin-top: 5%;
    border-radius: 50%;
    height: 200pt;
    width: 150pt;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    padding-bottom: 2%;
}