{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <container class="box">
        <div class="contacts">
            <p>{ {{ user.username }} }</p>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form>
        </div>
        <div class="chat" id="id_chat_item_container">
            <div id="id_messages_container"></div> <!-- Messages will be appended here -->
            <div class="chat__input-container">
                <input type="text" id="id_message_send_input" class="chat__input" placeholder="Type your message..." />
                <button type="submit" id="id_message_send_button" class="chat__button">Send</button>
            </div>            
        </div>            
        
        <script>
        const chatSocket = new WebSocket("ws://" + window.location.host + "/");

        chatSocket.onopen = function (e) {
            console.log("Connection established successfully!");
        };

        chatSocket.onclose = function (e) {
            console.log("Connection closed unexpectedly.");
        };

        // Focus on the input field and handle 'Enter' key press
        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };

        // Send message on button click
        document.querySelector("#id_message_send_button").onclick = function (e) {
            const messageInput = document.querySelector("#id_message_send_input").value.trim();

            if (messageInput !== "") {
                chatSocket.send(JSON.stringify({
                    message: messageInput,
                    username: "{{request.user.username}}"
                }));
                document.querySelector("#id_message_send_input").value = ""; // Clear input field
            }
        };

        // Receive and display messages
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const messageDiv = document.createElement("div");
            messageDiv.innerHTML = `<strong>${data.username}:</strong> ${data.message}`;
            document.querySelector("#id_messages_container").appendChild(messageDiv);
        };

        </script>

        </div>
        {% else %}
        <div class="contacts">
            <p>You are not logged in
            <a href="{% url 'login' %}">Log In</a></p>
            <p>Don't have an account? Create new one
            <a href="{% url 'signup' %}">Sign up</a></p>
        </div>        
        
    </container>
    
    {% endif %}
    
{% endblock %}
